@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 


body { 
    background-color: #131313;
}

h1 {
    color: white ;
    font-family: 'roboto';

}
.media-picture {
    height: 400px;
    background-image  : url('../img/titanic2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}



.review-score {
    color: white;
    background-color: #e6bd09;
    padding: 12px;

}

h2{
    color: steelblue;

}

p { 
    color: #bdbdbd;
    font-family: 'roboto';

}

a {
    color: yellow;
}